
/*POLICES*/
@font-face {
    font-family: 'theblacklist';
    src : url('../fonts/theblacklist.ttf') format('truetype');
}

/* On inclus tout de l'html */

*, ::before, ::after {
    margin: 0;
    padding: 0;
}

/* Header, titre, sous-titre et le logo */


.titre {
    font-family: 'theblacklist', sans-serif;
    color: #FFFFFF;
    font-size: 24px;
    display: flex;
    justify-content: center;
    margin: 10px auto;
}

.sous-titre {
    margin: 10px auto;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background: linear-gradient(#F27373, #FCFE00);
    background-size: cover;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.titres {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.titres img {
    display: flex;
    margin: 15px auto;
}

/* Boutons de navigations et la ligne à la fin */

.section-flex ul {
    font-family: Arial, sans-serif;
    font-size: 15px;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    list-style: none;
    display: flex;
    margin: 10px auto;
    padding: 0;
}

.section-flex li {
    display: flex;
    margin: auto 10px;
    cursor: pointer;
}

.section-flex li a {
    text-decoration: none;
    color: #000000;
}

.vline {
    border-bottom: 2px solid #FA8F77;
    margin: auto;
}

/* DEBUT MAIN */
  

/* On inclus un font pour tout les éléments dans MAIN */
.section-container {
    font-family: Arial, Helvetica, sans-serif;
}

/* Le texte en début de page */
.section-text .welcome {
    font-weight: 600;
    font-size: 16px;
    margin: 20px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-text p {
    text-align: center;
    margin: 20px 30px;
}

.section-text .vans {
    font-weight: 600;
    font-size: 16px;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* La gallerie commence ICI */

.section-img {
    position: relative;
    display: grid;
    justify-content: center;
    width: 80%;
    height: auto;
    margin: 30px auto;
    max-width: 2500px;
    grid-template-columns: repeat(auto-fill, 300px);
    gap:60px;
}

.section-img img {
    height: 220px;
    width: 320px;
    object-fit: cover;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.section-img p {
    position: absolute;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    margin: 11px auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-img
.van1 img,
.van2 img,
.van3 img,
.van4 img,
.van5 img,
.van6 img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 0 2px 8px #898989;
}

.van-text {
    display: flex;
    width: 320px;
    justify-content: center;
    border-bottom: 40px solid #F16C79;
    box-shadow: 0 2px 8px #898989;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

/* .van1,
.van2,
.van3,
.van4,
.van5,
.van6 {
} */

/* FIN DE LA GALLERIE */

/* Section Contact en bas de page */

.section-contact {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 30px auto;
}

.contact {
    font-weight: 600;
    font-size: 18px;
    margin: 20px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-contact {
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: center;
    margin: 25px auto;
    border-radius: 10px;
    border: 1px solid #F16C79;
}

.box-contact p {
    margin: 30px 200px;
}

/* FIN Section Contact */

/* FIN MAIN */

/* FOOTER et le texte */

.bar {
    background-color: #F16C79;
    border-bottom: 1px solid #F16C79;
    margin: 0 auto;
    display: flex;
    justify-content: start;
    width:100%;
    position:absolute;
}

.bar p {
    text-align: center;
    margin: 10px auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #FFFFFF;
    font-weight: 500;
    display: flex;
    justify-content: center;
}

/* FIN FOOTER */